body {
  font-size: 16px;
  line-height: 2rem;
  padding-bottom: 4rem;
  letter-spacing: 0.6px;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to left, #f0f6ff, #dddbf4);
}

em {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  display: block;
  max-width: 100%;
}

h1 {
  padding: .75rem;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 1.1px;
  font-stretch: condensed;
  background-color: #5919d9;
}

.user {
  padding: 1.5rem;
  font-size: .875rem;
}

.user-information {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-information .image-container {
  width: 100px;
  height: 100px;
  margin-right: 2rem;
  border-radius: 50px;
}

.user-information h3 {
  font-weight: bold;
  font-size: 1.125rem;
}

.tweet {
  padding: 1.5rem;
  font-size: .875rem;
  margin-bottom: 2px;
  background-color: #ffffff;
}

.tweet h3 {
  font-weight: bold;
}

.settings {
  display: flex;
  padding: 1.5rem;
  font-size: .875rem;
  flex-direction: column;
}

.settings h2 {
  font-weight: bold;
  line-height: 1.64;
  padding-bottom: 1.1875rem;
}

.settings label {
  font-size: .75rem;
  font-weight: bold;
}

.settings input,
.settings textarea,
.settings button {
  padding: 1rem;
  border: solid 1px #7098f5;
}

.settings input::placeholder,
.settings textarea::placeholder {
  color: #9b9b9b;
}

.settings input,
.settings textarea {
  margin-bottom: .625rem;
}

.new-tweet {
  display: flex;
}

.new-tweet input {
  flex-grow: 1;
  margin-bottom: 0;
  margin-right: 2rem;
}

.new-tweet button {
  cursor: pointer;
  color: #ffffff;
  transition: .25s;
  border-radius: 2px;
  background-color: #5919d973;
}

.new-tweet button:hover {
  background-color: #5919d9;
}